# Ignore Nextflow hidden files and directories
.nextflow/
work/
.nextflow.log*

# Ignore Nextflow hidden files and directories in Kurayi_tests
Kurayi_tests/**/.nextflow/
Kurayi_tests/**/work/
Kurayi_tests/**/.nextflow.log*
Kurayi_tests/**/.nextflow.log

# Ignore the vs code workspace file
nf-core-March-2025-Hackathon-scdownstream-Pipeline-Improvement-Project.code-workspace
